.media {
  position: absolute;

  top: 50%;
  left: 50%;

  width: var(--slide-media-size, 50%);

  transform: translate3d(-50%, -50%, 0);

  max-height: 90vh;
  object-fit: contain;

  .cover & {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .big & {
    --slide-media-size: 80%;
  }
}

.attribution {
  position: absolute;

  top: var(--size-unit-3);
  left: var(--size-unit-3);
}
