.main {
  padding: var(--size-unit-4);

  max-width: 500px;
  margin: 0 auto;

  overflow: hidden;
}

.slide {
  position: relative;

  height: 0;
  padding-bottom: 56.25%;

  border: 2px solid var(--color-theme-2);

  user-select: none;

  * {
    pointer-events: none;
  }

  &El {
    position: absolute;

    width: 10px;
    height: 10px;

    background-color: red;

    border-radius: 100%;

    transform: translate3d(-50%, -50%, 0);

    left: calc(var(--pos-x) * 100%);
    top: calc(var(--pos-y) * 100%);
    pointer-events: none;
  }

  p {
    position: absolute;

    top: 50%;
    left: 0;

    width: 100%;

    margin: 0;

    text-align: center;

    padding: 0 var(--size-unit-4);

    transform: translateY(-50%);

    pointer-events: none;
  }
}

.title {
  margin: var(--size-unit-5) 0 var(--size-unit-1);
}

.item {
  opacity: 0.25;

  display: inline-block;

  font-size: 50px;

  padding: var(--size-unit-1);

  &.active {
    opacity: 1;
  }
}
