.slide {
  display: flex;

  flex-direction: column;
}

.content {
  display: flex;

  justify-content: center;
  align-items: center;

  flex-grow: 1;

  iframe {
    width: 60vh;
    height: 60vh;
  }
}

.choices {
  display: flex;
  justify-content: center;

  font-size: var(--font-size-large);

  padding: var(--size-unit-6) 0 var(--size-unit-12);

  span {
    display: block;

    margin: 0 var(--size-unit-6);

    cursor: pointer;

    opacity: 0.5;

    &.active {
      opacity: 1;
    }
  }
}
