.title {
  margin-bottom: var(--size-unit-4);
}

.meta {
  grid-row: 1;
}

.content {
  grid-row: 2 / span 4;

  align-self: center;
}

.slide {
  display: grid;

  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(1, 1fr);
}
