.tiles {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr;

  gap: var(--size-unit-5);

  padding-bottom: var(--size-unit-20);
}

.actions {
  align-self: flex-end;
}

.tile {
  border-radius: var(--size-unit-2);
}
